

html,
body,
:root{
  height: 100%;
}
 
.specify {
  flex: 1;
}

.specify_firstdiv {
  display: flex;
  justify-content: space-between;
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom: 1px solid black; 
  padding-bottom: 5px;
}

.specify_secondfdiv {
  flex: 1;
}

.specify_thridfdiv{
  flex: 1 1 0%; 
  text-align: right; 
}

@media only screen and (max-width: 560px) {
  div#dialog-header {
    font-size: 5px; 
  }
}

@media (max-width: 480px) {
  .specify {
    display: none
  }
}